#epsi-logo {
    width: 3em;
    height: 3em;
}

#header {
    z-index: 100;
}

.mt-6,
.my-6 {
  margin-top: 5.33rem !important;
}

.mr-6,
.mx-6 {
  margin-right: 5.33rem !important;
}

.mb-6,
.my-6 {
  margin-bottom: 5.33rem !important;
}

.ml-6,
.mx-6 {
  margin-left: 5.33rem !important;
}

.text {
  font-family: 'Montserrat', sans-serif;
}

.level1 {
  margin: 0 0 1% 1%;
}

.level2 {
  margin: 0 0 0 2%;
}

.level3 {
  margin: 0 0 1% 2%;
}

.content {
  margin-top:70px;  
}

.sidebar a:hover {
  background-color: #E4803E !important;
}
.sidebar button:hover {
  background-color: #E4803E !important;
}

.btn-outline-success {
  --bs-btn-color: #000000;
  --bs-btn-border-color: #8FBE54;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #8FBE54;
  --bs-btn-hover-border-color: #8FBE54;
  --bs-btn-focus-shadow-rgb: 25,135,84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #8FBE54;
  --bs-btn-active-border-color: #8FBE54;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #8FBE54;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #8FBE54;
  --bs-gradient: none;
}

#learn {
  color: rgb(75,75,153)
}
#code {
  color: rgb(250,207,83)
}
#lead {
  color: rgb(54,182,212)
}
#excl {
  color: rgb(217,71,89  )
}