#epsi-logo {
    width: 3em;
    height: 3em;
}

@media (max-width: 768px) {
    #sidebar {
        border-radius: 10px;
    }
  }


@media (min-width: 768px) {
    #sidebar {
        border-radius: 10px;
        min-width:  350px;
    }
  }