#epsi-logo {
    width: 3em;
    height: 3em;
}

#header {
    z-index: 100;
}

.mt-6,
.my-6 {
  margin-top: 5.33rem !important;
}

.mr-6,
.mx-6 {
  margin-right: 5.33rem !important;
}

.mb-6,
.my-6 {
  margin-bottom: 5.33rem !important;
}

.ml-6,
.mx-6 {
  margin-left: 5.33rem !important;
}
